body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #31344e;
}

.header.fixed .header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #515369;
}

.header-phone {
  margin-top: 60px;
}

.header-phone-number {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #606060;
}

.restangle-1 {
  width: 25px;
  height: 2px;
  background: #887569;
}

.restangle-2 {
  width: 19px;
  height: 2px;
  background: #887569;
}

.restangle-3 {
  width: 25px;
  height: 2px;
  background: #887569;
}

.nav {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  padding: 30px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.vector {
  margin-top: 50px;
}

.img-vectors {
  margin-left: 25px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}

.restangles div {
  margin: 5px 0;
}

.nav__link {
  margin-left: 25px;
  color: #887569;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

.nav-col {
  margin-left: 15px;
}

.icons {
  margin-left: 110px;
}

.social {
  display: inline;
  margin-left: 20px;
}

select {
  margin-left: 30px;
  border: 0;
  outline: none;
  font-size: 18px;
  color: #787878;
}

.arrow_example_3 {
  border-top: 1.5px solid #787878 !important;
  border-right: 1.5px solid #787878 !important;
  margin: 0px 0 5px 10px;
  transform: rotate(135deg);
  display: inline-block;
}

.arrow_example_4 {
  border-top: 1px solid #787878 !important;
  border-right: 1px solid #787878 !important;
  margin: 0px 0 2px 10px;
  transform: rotate(45deg);
  display: inline-block;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 250px 0 0 0;
}

.text-intro {
    position: relative;
    width: 100%;
    max-width: 880px;
    padding: 0px 0 22px 0 ;
    line-height: 44px;
    color: #373737;
}

.arrow_example_8 {
    position: absolute;
    cursor: pointer;
    left: -22px;
    top: 280px;
    border-top: 1.5px solid #787878 !important;
    border-right: 1.5px solid #787878 !important;
    transform: rotate(-135deg);
    display: inline-block;
}

.arrow_example_9 {
    position: absolute;
    cursor: pointer;
    border-top: 1.5px solid #787878 !important;
    border-right: 1.5px solid #787878 !important;
    margin-left: 1212px;
    margin-top: 280px;
    transform: rotate(45deg);
    display: inline-block;
}

.conteiner {
    padding: 0px 0 0 56px;
    display: flex;
}

.number-variants {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
}

.number-var {
    position: absolute;
    font-size: 30px;
    line-height: 37px;
    color: #DABFB4;
}

.variants {
    display: flex;
    align-items: center;
}

.nv-text {
    width: 225px;
    margin-left: 16px;
    line-height: 22px;
    color: #373737;
}
  
.btn-go-catalog {
    position: absolute;
    left: 419px;
    top: 425px;
    cursor: pointer;
    width: 361px;
    height: 66px;
    font-size: 16px;
    color: #887569;
    border: 0;
    border-radius: 8px;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}
  
.btn-go-catalog:hover {
    background-color: #887569;
    color: #fff;
}

.section-average {
    margin-top: 50px;
    padding: 50px 0 0 0;
    height: 310px;
    background: #F8F8F8;
    border-radius: 5px;
}

.section-logo-text {
    font-weight: 600;
    color: #887569;
}

.about-company-text {
    font-weight: 300;
    font-size: 32px;  
    color: #373737;
    
}

.about-company-content {
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    margin-left: 83px;
    color: #000000;
}

.about-company {
    display: flex;
    padding: 35px 0 0 0;
}

.section-header-text {
    padding: 42px 0 37px 0;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;    
    color: #373737;
}

.img-book {
    margin: 0px 40px 0;
}

.name-author-book {
    color: #606060; 
    font-weight: 300;
    font-size: 16px;
    margin: 270px 17px 0;
}

.name-author-book-2 {
    color: #606060; 
    font-weight: 300;
    font-size: 16px;
    margin: 290px 17px 0;
}

.name-books-txt {
    margin: 10px 17px 0;
}

.price-books {
    font-size: 20px;
    margin: -24px 17px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#svg-heart {
    display: block;
    width: 30px;
    height: 18px;
}
    
#svg_2{
    fill:transparent; 
    stroke: #675B56;
    stroke-width: 15px;
    cursor: pointer;
    transition:fill .3s;
}
  
#svg_2.filled{
    fill:#f00;
}

.npb-basket {
    width: 26px;
    height: 26px;
    margin: 5px 0 0 221px
}

.img-book-2 {
    margin: 31px 30px 0;
}

.circle-heart-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 220px;
    margin-top: 14px;
    width: 40px; 
    height: 40px;
    background: #F3E4DE;
}

.name-price-book-2 {
    position: relative;
    width: 279px;
    height: 420px;
    background: #FAF8F6;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 25px;
    margin-right: 25px;
}

.canteiner {
    display: flex;
    align-items: center;
    height: 420px;
}

.tick-2 {
    position: relative;
    border-radius: 100%;
    margin-left: -25px;
    width: 33px;
    height: 33px;
    border: 1px solid #897668;
}

.tick-3 {
    position: relative;
    border-radius: 100%;
    margin-left: -25px;
    width: 33px;
    height: 33px;
    border: 1px solid #897668;
}

.arrow_example_6 {
    position: absolute;
    left: 10px;
    top: 10px;
    border-top: 1.5px solid #787878 !important;
    border-right: 1.5px solid #787878 !important;
    margin: 0px 0 5px 3px;
    transform: rotate(-135deg);
    display: inline-block;
}

.arrow_example_7 {
    position: absolute;
    left: 5px;
    top: 10px;
    border-top: 1.5px solid #787878 !important;
    border-right: 1.5px solid #787878 !important;
    margin: 0px 0 5px 3px;
    transform: rotate(45deg);
    display: inline-block;
}

.section-header-text-2 {
    padding: 65px 0 25px 0;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;    
    color: #373737;
}

.circle-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: -70px;
    margin-left: 12px;
    width: 51px; 
    height: 51px;
    color: #FFFFFF;
    background: #887569;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.section-mid-lower {
    margin-top: 95px;
}

.section-mid-lower-conteiner {
    display: flex;
}

.mid-lower-text {
    margin-left: 90px;
}

.mid-lower-header-text {
    padding: 16px;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;    
    color: #373737;
}

.mid-lower-content-text {
    width: 586px;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: #000000;    
}

.btn-more {
    position: absolute;
    left: 750px;
    top: 3260px;
}

.btn-more-text {
    cursor: pointer;
    width: 232px;
    height: 62px;
    border: 1px solid #887569;
    border-radius: 8px;
    background: #FFFFFF;
    font-size: 16px;
    color: #887569;
    transition: background-color 0.3s ease-in,color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.btn-more-text:hover {
    background-color: #887569;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px #887569;
}

.selection-book {
    padding: 68px 0 29px 0;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}

.conteiner-df {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.conteiner-selection {
    width: 381px;
    height: 306px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.text-title {
    font-weight: 500;
    padding: 20px 0 0 27px;
}

.number-books {
    padding: 13px 0 9px 27px;
    font-weight: 500;
    color: #999999;
}

.img-variants-book {
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.request-section {
    height: 275px;
    margin-top: 55px;
    background: #E9E5E0;
}

.text-question {
    text-align: center;
    color: #373737;
}

.head-text {
    padding: 40px 0 0 ;
    font-size: 36px;
    font-weight: 300;
}

.head-text-2 {
    padding: 12px 0 0 ;
    font-weight: 300;
}

.application-input-btn {
    padding: 38px 0 0 ;
}

.application-input-btn input {
    font-size: 18px;
    padding: 32px ;
}

.bid-input {
    width: 348px;
    height: 66px;
    border-radius: 8px;
    border: 0;
    margin-left: 20px;
    outline: none;
}

.bid-button {
    width: 348px;
    height: 66px;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    margin-left: 20px;
    background: #887569;
    color: #FFFFFF;
    transition: all .1s linear;
}

.bid-button:hover {
    box-shadow: 0px 0px 10px #887569;
}

footer {
    height: 145px;
    background: #F5F5F5;
    display: flex;
}

.footer-information {
    margin-top: -47px;
    margin-left: 140px;
}

.footer-content {
    color: #4F4F4F;
    margin-left: 30px;
    opacity: .75;
    transition: opacity .1s linear;
}

.footer-content:hover {
    opacity: 1;
}

.footer-number-phone {
    opacity: .75;
    color: #606060;
    margin-left: 13px;
}

.footer-number-phone:hover {
    opacity: 1;
}

